@import url('http://fonts.cdnfonts.com/css/harry-potter');

.container {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Harry Potter', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10em;
}

h1 {
    font-size: 50px;
}

.lightning {
    height: 4em;
    padding-left: 10px;
}

.game-mode {
    text-align: center;
    margin: 0;
    padding-bottom: 2em;
}

.mode {
    cursor: pointer;
}

.mode-img {
    height: 7em;
    border: none;
    background: none;
}

main {
    position: relative;
}

.message {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: red;
    text-align: center;
    width: max-content;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.opacity {
    opacity: 0.2;
}

.opacity1 {
    opacity: 0.2;
}

.square {
    width: 133px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
}

.square1 {
    border-right: 4px solid green;
    border-bottom: 4px solid green;
}

.square2 {
    border-bottom: 4px solid green;
}

.square3 {
    border-bottom: 4px solid green;
    border-left: 4px solid green;
}

.square4 {
    border-right: 4px solid green;
}

.square6 {
    border-left: 4px solid green;
}

.square7 {
    border-top: 4px solid green;
    border-right: 4px solid green;
}

.square8 {
    border-top: 4px solid green;
}

.square9 {
    border-top: 4px solid green;
    border-left: 4px solid green;
}

.score {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    text-align: center;
    padding-top: 1em;
}

.score div {
    text-align: center;
    display: inline-block;
}

.x {
    font-size: 30px;
    width: 115px;
    height: 80px;
}

.tie {
    font-size: 30px;
    width: 40px;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em;
}

.o {
    font-size: 30px;
    width: 115px;
    height: 80px;
}

.button {
    text-align: center;
}

footer button {
    font-size: 20px;
    width: 215px;
    height: 45px;
    background-color: white;
    color: green;
    border-radius: 15px;
    border-style: groove;
    cursor: pointer;
}

/* button:hover {
    background-color: green;
    color: white;
    border-style: none;
} */