@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.container {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 405px;
    height: 405px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.square {
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 80px;
}

.square1 {
    border-right: 4px solid green;
    border-bottom: 4px solid green;
}

.square2 {
    border-bottom: 4px solid green;
}

.square3 {
    border-bottom: 4px solid green;
    border-left: 4px solid green;
}

.square4 {
    border-right: 4px solid green;
}

.square6 {
    border-left: 4px solid green;
}

.square7 {
    border-top: 4px solid green;
    border-right: 4px solid green;
}

.square8 {
    border-top: 4px solid green;
}

.square9 {
    border-top: 4px solid green;
    border-left: 4px solid green;
}

.score {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    text-align: center;
    padding-top: 1em;
}

.score div {
    text-align: center;
    display: inline-block;
}

.x {
    font-size: 30px;
    width: 100px;
    height: 80px;
}

.tie {
    font-size: 30px;
    width: 40px;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em;
}

.o {
    font-size: 30px;
    width: 100px;
    height: 80px;
}

.button {
    text-align: center;
    padding-top: 2em;
}

button {
    font-size: 30px;
    width: 250px;
    height: 60px;
    font-family: 'Shadows Into Light', cursive;
}